[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/thirudurairaj
[access "refs/for/refs/*"]
	read = group user/thirudurairaj
	push = group user/thirudurairaj
	label-Code-Review = -2..+2 group user/thirudurairaj
	label-Verified = -1..+1 group user/thirudurairaj
	rebase = group user/thirudurairaj
	removeReviewer = group user/thirudurairaj
	submit = group user/thirudurairaj
[access "refs/heads/*"]
	read = group user/thirudurairaj
	create = group user/thirudurairaj
	push = +force group user/thirudurairaj
	pushMerge = group user/thirudurairaj
[access "refs/tags/*"]
	push = group user/thirudurairaj
	push = +force group user/thirudurairaj
